@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";


* {
  @apply p-0 m-0 box-border;
}

html,
body,
#root {
  @apply w-full h-full bg-zinc-950;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100%;
  @apply flex items-center justify-center bg-clip-content bg-cover bg-no-repeat bg-center bg-fixed bg-[url(./assets/images/background.jpg)];
}

iframe {
  position: fixed;
  pointer-events: none;
  @apply w-full h-full
}

.main-container {
  @apply h-full w-xl flex justify-between flex-col items-center;
}

nav * {
  @apply w-full;
}

nav {
  @apply border-b-2 border-slate-950 bg-zinc-950 text-slate-50 text-lg uppercase w-full mask-radial-from-15% mask-radial-at-bottom bg-linear-65;
}

nav ul {
  @apply grid grid-cols-8 grid-rows-1 h-full;
}

.nav-link {
  @apply p-4;
}

.nav-link-ticket {
  @apply col-start-4 col-end-9 text-end pr-4;
}

.anchor-ticket {
  @apply border outline-slate-50 p-2 rounded-lg;
}

.watch-trailer-button {
  @apply uppercase text-slate-50 font-bold border border-slate-100/50 rounded-lg p-4 w-50 mb-4 shadow-md shadow-gray-950/50 ring ring-gray-500/50 opacity-55 transition delay-150 duration-270 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-gray-950 hover:text-slate-50;
}